{{#each posts as |post|}}
<!-- Iterate over each post -->
<div class="card my-4" style="box-shadow: 10px 10px 0px rgb(6, 122, 255)" data-post-id="{{post.id}}" id="post-card">
  <!-- Card for each post -->
  <div class="card-header bg-primary text-light d-flex justify-content-between">
    <!-- Post header -->
    <h5>{{post.title}}</h5> {{!-- Displaying the post title --}} 
    <p class="text-end" id="date">posted by: {{post.user.user_name}} , on: {{post.date}} </p> {{!-- Displaying the username and posting date --}} 
  </div>

  <div class="card-body">
    <!-- Post body -->
    <p class="card-text text-start">{{post.body}}</p> {{!-- Displaying the post body --}} 
    <h5 class="text-secondary text-start">comments {{post.comments.length}}</h5> {{!-- Displaying the number of comments --}}

     {{#if isCreator}}
    <div class="star-rating" data-rating="{{post.rating}}"></div> {{!-- Display star rating input if user is post creator --}}
    {{/if}}